In [1]:
x = 5

In [2]:
y = 3

In [3]:
print(x+y)

8

In [4]:
first name = 'Aleem'

SyntaxError: invalid syntax (<ipython-input-4-25ff23d061e2>, line 1)

In [5]:
print(first name)

SyntaxError: invalid syntax (<ipython-input-5-f3e5aedc5263>, line 1)

In [8]:
first_name = 'Alex'

In [9]:
print(first_name)

Alex

In [10]:
firstname = 'Alex'

In [11]:
print(firstname)

Alex

In [ ]:
1name = 'Alex'

In [12]:
print(1name)

SyntaxError: invalid syntax (<ipython-input-12-0d7636e7b46b>, line 1)

In [13]:
name1 = 'Alex'

In [14]:
print(name1)

Alex

In [ ]:
@name = "Alex"

In [15]:
print(@name)

SyntaxError: invalid syntax (<ipython-input-15-8272c30b27da>, line 1)

In [19]:
_name = 'Alex'

print(_name)

Alex

In [20]:
name1 = 'Alex'
print(name1)

Alex

In [21]:
name2 = "Abdul"
print(name2)

Abdul

In [23]:
name3 = "'Muhammed'"
print(name3)

'Muhammed'

In [25]:
type(name1)

str

In [26]:
type(name2)

str

In [27]:
type(name3)

str

In [35]:
full_name = "AleeM syed"

print(full_name)

AleeM syed

In [30]:
full_name = "aleem syed"

print(full_name.title())

Aleem Syed

In [31]:
print(full_name)

aleem syed

In [32]:
print(full_name.upper())

ALEEM SYED

In [37]:


print(full_name.lower())

aleem syed