In [1]:
#List data type

In [46]:
students = ['ravi', 'sai' , 'srinivas', 'raju', 'hameed', 'amala', 'vamsi']
print(students)

['ravi', 'sai', 'srinivas', 'raju', 'hameed', 'amala', 'vamsi']

In [8]:
type (students)

list

In [47]:
print(students[3])

raju

In [48]:
print(students[5])

amala

In [13]:
#reassigning, adding & deleting 
#1.reassigning ====> ravi to tanusri in the list

In [49]:
students[3] = 'tanusri'
print(students)

['ravi', 'sai', 'srinivas', 'tanusri', 'hameed', 'amala', 'vamsi']

In [50]:
# 2.adding ======> Aleem to the list

students.append('Aleem')
print(students)

['ravi', 'sai', 'srinivas', 'tanusri', 'hameed', 'amala', 'vamsi', 'Aleem']

In [52]:
# Inserting  =====> adding element sahul to one specific position

students.insert(1,'sahul')
print(students)

['ravi', 'sahul', 'sahul', 'sai', 'srinivas', 'tanusri', 'hameed', 'amala', 'vamsi', 'Aleem']

In [54]:
# deleting element ====> sai from the list 
del students[3]
print(students)

['ravi', 'sahul', 'sahul', 'srinivas', 'tanusri', 'hameed', 'amala', 'vamsi', 'Aleem']